body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 300;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}

/* Colors */
:root {
    --top-menu-background-color: #9c27b0; /* Deep Navy Blue */
    --menu-text-color: #1f1f1f; /* Light White */
    --menu-text-hover-color: #1f1f1f; /* Soft Blue */
    --menu-background-color: #ffffff; /* Vibrant Blue */
    --background-color: #f3f6fc; /* Light Blue-Gray */
    --text-color: #2c3e50; /* Charcoal Gray */
    --scrollbar-color: #4a90e2; /* Soft Blue */
    --link-color: #2563eb; /* Vibrant Blue */
    --link-hover: #1d4ed8; /* Bold Royal Blue */
    --button-primary-bg: #1d3557; /* Dark Blue */
    --button-primary-text: #ffffff; /* White */
    --button-secondary-bg: #4a90e2; /* Soft Blue */
    --button-secondary-text: #1b263b; /* Deep Navy Blue */
    --heading-color: #1B263B;
    --footer-background: #ededed;
    --footer-text-color: rgba(0, 0, 0, 0.6);
    --footer-link-color: rgba(0, 0, 0, 0.72);
    --spacing-unit: 0.25rem;
    --white: white;
}

/* Body Styling */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    flex: 1;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
}

/* Hyperlinks */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

/* Scrollbar Styling */
*::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Top Menu */
.top-menu {
    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--top-menu-background-color);
    scrollbar-width: none;
}

.top-menu .container ::-webkit-scrollbar {
    display: none;
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 30px;
}

.top-menu-item {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    text-decoration: none;
    font-weight: normal;
}

.top-menu-item:hover {
    background-color: var(--menu-background-color);
    border-radius: 4px;
    color: var(--menu-text-color);
    text-decoration: none;
}

.top-menu-nav {
    display: flex;
    flex-grow: 1;
}

.menu-arrow {
    background: var(--menu-background-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
}

/* Primary Menu */
.primary-menu {
    padding: 15px;
    background-color: var(--menu-background-color);
    color: white;

}

.primary-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.primary-menu .toggle {
    display: none;
    cursor: pointer;
    color: var(--menu-text-color);
}

.primary-menu-items {
    display: flex;
    gap: 20px;
}

.primary-menu-item {
    text-decoration: none;
    color: var(--menu-text-color);
    font-size: 1.1rem;
    font-weight: 400;
}

.primary-menu-item:hover {
    text-decoration: underline;
    color: var(--menu-text-hover-color);
}

.primary-menu-logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.primary-menu-logo img {
    height: 70px;
}


/* Container Widths */
.container {
    margin: 0 auto;
    padding: 0 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Columns */
[class*="col-"] {
    padding: 5px;
    box-sizing: border-box;
}

/* Define 12 Columns */
.col-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
}

.col-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
}

.col-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
}

.col-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (max-width: 768px) {

    .top-menu {
        overflow: hidden;
    }

    .primary-menu .container {
        height: 60px;
        position: relative;
    }

    .primary-menu .toggle {
        display: block;
        position: absolute;
        right: 15px;
    }

    .primary-menu-items {
        display: none;
        left: 0;
        flex-direction: column;
        width: 95%;
        position: absolute;
        top: 80px;
        background-color: #d2ebff;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 1000;
    }

    .primary-menu-items.show {
        display: flex;
    }

    .top-menu {
        overflow-x: hidden;
    }

    .menu-arrow {
        display: inline-block;
        color: var(--white);
        background-color: var(--top-menu-background-color);
    }

    .top-menu-nav {
        overflow-x: scroll;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .top-menu-nav {
        overflow-x: scroll;
        scroll-behavior: smooth;
    }

    .primary-menu-logo img {
        height: 50px;
    }

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .menu-arrow {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* Footer */
footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer a {
    color: var(--footer-link-color);
}

/* Buttons */
.button-primary {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-primary:hover {
    background-color: var(--white);
    text-decoration: none;
    border: 1px solid var(--button-primary-bg);
}

.button-secondary {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: var(--link-hover);
}

.card {
    background-color: var(--white);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card .card-body {
    padding: 40px;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: calc(var(--spacing-unit) * 1) !important;
}

.my-1 {
    margin-top: calc(var(--spacing-unit) * 1) !important;
    margin-bottom: calc(var(--spacing-unit) * 1) !important;
}

.my-2 {
    margin-top: calc(var(--spacing-unit) * 2) !important;
    margin-bottom: calc(var(--spacing-unit) * 2) !important;
}

.mx-1 {
    margin-left: calc(var(--spacing-unit) * 1) !important;
    margin-right: calc(var(--spacing-unit) * 1) !important;
}

.mx-2 {
    margin-left: calc(var(--spacing-unit) * 2) !important;
    margin-right: calc(var(--spacing-unit) * 2) !important;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* Gutters and Responsiveness */
.g-0 {
    gap: 0;
}

.g-1 {
    gap: 0.25rem;
}

.g-2 {
    gap: 0.5rem;
}

.g-3 {
    gap: 1rem;
}

.g-4 {
    gap: 1.5rem;
}

.g-5 {
    gap: 3rem;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--background-color);
}

.bg-white {
    background-color: var(--white) !important;
}

.shadow-0 {
    box-shadow: 0 0 0;
}

.dept-img {
    width: 100%;
    height: auto;
}

/* Container for the title and breadcrumb */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid var(--top-menu-background-color);
}

/* Title styling */
.page-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--top-menu-background-color);
    margin: 0;
}

/* Breadcrumb styling */
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumb li {
    display: inline;
    color: #666;
}

.breadcrumb li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.breadcrumb li + li::before {
    content: ' / ';
    padding: 0 8px;
    color: #999;
}

.breadcrumb li:last-child {
    color: #000;
}


.bg-transparent {
    background-color: transparent !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
}
