<!-- Top Menu -->
<div class="top-menu">
    <div class="container">
        <button class="menu-arrow">&#8592;</button>
        <div class="top-menu-nav">
            <a class="top-menu-item" href="#">University</a>
            <a class="top-menu-item" href="#">IT Services</a>
            <a class="top-menu-item" href="#">Alumni</a>
            <a class="top-menu-item" href="contact.html">Contact</a>
        </div>
        <button class="menu-arrow">&#8594;</button>
    </div>
</div>

<!-- Primary Menu -->
<div class="primary-menu">
    <div class="container">
        <a class="primary-menu-logo" href="https://www.maco.jfn.ac.lk">
            <img alt="Faculty of Management Studies and Commerce"
                 src="images/logo.png">
        </a>
        <span class="toggle" onclick="toggleMenu(event)">&#9776; Menu</span>
        <div class="primary-menu-items">
            <a class="primary-menu-item" href="index.html">Home</a>
            <a class="primary-menu-item" href="#">About</a>
            <a class="primary-menu-item" href="#">Academics</a>
            <a class="primary-menu-item" href="#">People</a>
            <a class="primary-menu-item" href="#">Notices</a>

        </div>
    </div>
</div>